
body {
    background-color: rgba(245, 243, 225, 0.9);
}

* {
    box-sizing: border-box;
}

.blocks{
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.center-panel{
    flex: 2;
    background-color: rgba(245, 243, 225, 0.9);
    height: 700px;
}

.center-top-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #232222;
    color: darkgray;
    width: 100%;
    height: 50px;
    padding-left: 0;
    font-family: Arial, serif;
}

.badge{
    position: fixed;
    left: 45px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: white;
    width: 70px;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    height: 70px;
}

.telephone{
    margin-left: 100px;
}

.pizza{
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    white-space: pre-line;
    padding: 5px;
}

.exit{
    background-color: orange;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transition: all 0.3s ease;
}

.inscriptions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.allPizzas{
    color: #000000;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}

.pizzaNumber{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-color: orange;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    border: none;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.types-of-pizza{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: #e39000;
    font-family: Arial, serif;
    font-size: medium;
}

.all{
    display: inline-block;
    border-radius: 5px;
    background-color: #e39000;
    color: white;
    padding: 5px;
}

.pizza-item {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    margin-left: 120px;
    text-align: left;
}

.pizza-img{
    width: 300px;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.pizzaName {
    margin-left: 20px;
    margin-top: 10px;
    color: #96650b;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
}

.type {
    margin-left: 20px;
    color: #4f5762;
    font-family: Arial, serif;
    font-size: small;
}

.ingredients {
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-family: Arial, serif;
    font-size: medium;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.small, .big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size-icon-container,
.weight-icon-container,
.big-size-icon-container,
.big-weight-icon-container{
    display: flex;
    align-items: center;
}

.size-icon,
.weight-icon,
.big-size-icon,
.big-weight-icon{
    margin-right: 5px;
}

.small-size,
.small-weight,
.big-size,
.big-weight{
    margin-left: 5px;
}

.small-buy, .big-buy{
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 5px;
    background-color: #96650b;
    color: white;
    font-family: Arial, serif;
    font-size: medium;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    width: 90px;
}

.small-price, .big-price {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 15px;
}

.right-panel{
    flex: 0.5;
    background-color: darkgray;
}

.bottom-badge{
    display: flex;
    background-color: orange;
    color: white;
    position: fixed;
    left: 45px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    width: 70px;
    height: 100px;
    text-align: center;
    padding: 5px;
}