
body {
    background-color: rgba(245, 243, 225, 0.9);
}

* {
    box-sizing: border-box;
}

.blocks{
    display: flex;
    align-items: flex-start;
}

.center-panel{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;
    flex-direction: column;
    background-color: rgba(245, 243, 225, 0.9);
}

.pizza-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 20px;
}

.center-top-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #232222;
    color: darkgray;
    width: 100%;
    height: 50px;
    padding-left: 0;
    font-family: Arial, serif;
}

.badge{
    position: fixed;
    left: 15px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: white;
    width: 70px;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    height: 70px;
}

.telephone{
    margin-left: 100px;
}

.pizza{
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    white-space: pre-line;
    padding: 5px;
}

.exit{
    background-color: orange;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transition: all 0.3s ease;
}

.inscriptions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.allPizzas{
    color: #000000;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}

.pizzaNumber{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-color: orange;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    border: none;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.types-of-pizza{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: #e39000;
    font-family: Arial, serif;
    font-size: medium;
}

.all{
    display: inline-block;
    border-radius: 5px;
    background-color: #e39000;
    color: white;
    padding: 5px;
}

.pizza-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    text-align: left;
    border: 1px solid gray;
    padding-bottom: 10px;
}

.pizza-img{
    width: 248px;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

.pizzaName {
    margin-left: 20px;
    margin-top: 10px;
    color: #96650b;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
}

.type {
    margin-left: 20px;
    color: #4f5762;
    font-family: Arial, serif;
    font-size: small;
}

.ingredients {
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-family: Arial, serif;
    font-size: medium;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.small, .big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size-icon-container,
.weight-icon-container,
.big-size-icon-container,
.big-weight-icon-container{
    display: flex;
    align-items: center;
}

.size-icon,
.weight-icon,
.big-size-icon,
.big-weight-icon{
    margin-right: 5px;
}

.small-size,
.small-weight,
.big-size,
.big-weight{
    margin-left: 5px;
}

.small-buy, .big-buy{
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 5px;
    background-color: #96650b;
    color: white;
    font-family: Arial, serif;
    font-size: medium;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    width: 90px;
}

.small-price, .big-price {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 15px;
}

.right-panel{
    flex: 0.5;
    background-color: #cecbcb;
    height: 100dvmax;
}

.inscription{
    display: flex;
    flex-direction: column;
    background-color: #cecbcb;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.order{
    color: black;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: x-large;
}

.order-number{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-color: orange;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    border: none;
    display: inline-block;
    text-align: center;
}

.reset{
    border: none;
    color: #4f5762;
    font-family: Arial, serif;
    font-size: small;
    background: none;
    margin-top: 10px;
}

.pizza-order{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: auto;
}

.left{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.order-price{
    display: flex;
    flex-direction: row;
}

.order-name{
    font-weight: bold;
    color: #e39000;
    font-family: Arial, serif;
    font-size: large;
    margin: 5px;
}

.order-sizes{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 5px;
}

.order-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    margin-top: 10px;
}

.minus-button, .plus-button, .delete-button{
    border: none;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    font-family: Arial, serif;
    font-size: large;
}

.minus-button{
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.plus-button{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.delete-button{
    background-color: white;
    border: 1px solid gray;
    color: #e39000;
    font-weight: bold;
}

.order-pizza-number{
    font-family: Arial, serif;
    width: 23px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

.price{
    font-family: Arial, serif;
    font-weight: bold;
    font-size: large;
}

.right{
    display: flex;
    align-items: center;
    width: 20%;
    overflow: hidden;
}

.bottom-right-panel{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid gray;
    padding: 10px;
    height: auto;
}

.all-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: large;
}

.order-button{
    border: none;
    background-color: #e39000;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.bottom-badge{
    display: flex;
    background-color: orange;
    color: white;
    position: fixed;
    left: 15px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
    width: 70px;
    height: 100px;
    text-align: center;
    padding: 5px;
}